@{Html.BeginForm("CreateDocument", "Ataskaita", FormMethod.Get);
    {
        <div>
            <p>Čia galite gauti savo salonų išlaidų ataskaitą pfd formatu. </p>
        </div>
        <div>
            <input type="submit" value="Ataskaita" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}