
@{
    ViewData["Title"] = "SalonuSarasas";
}

<h1>Salonų sąrašas</h1>
<span>Peržiūreti salonų ataskaitų langą:</span>
<input type="button" value="Peržiūrėti" onclick="@("window.location.href='" + @Url.Action("AtaskaituLangas", "Admin") + "'");" />


