
@{
    ViewData["Title"] = "Paslaugos";
}

<h1>Grožio salono paslaugų langas</h1>
<span>Pereiti į paslaugų redagavimą:</span>
<input type="button" value="Peržiūrėti" onclick="@("window.location.href='" + @Url.Action("PaslauguRedagavimas", "SalonoAdmin") + "'");" />

