
@{
    ViewData["Title"] = "Paslaugos";
}

<h1>Paslaugų langas</h1>
<span>Pasirinkus paslaugą pereiti į užsakymo langą:</span>
<input type="button" value="Toliau" onclick="@("window.location.href='" + @Url.Action("UzsakymoLangas", "Klientas") + "'");" />

