
@{
    ViewData["Title"] = "UzsakytosPaslaugos";
}

<h1>Užsakytos paslaugos</h1>
<span>Čia bus galima atšaukti aktyvias rezervacijas</span>
<br />
<span>Norint palikti atsiliepimą pasirenkama neaktyvi paslauga</span>
<input type="button" value="Įvertinti" onclick="@("window.location.href='" + @Url.Action("KomentaruLangas", "Klientas") + "'");" />

