
@{
    ViewData["Title"] = "UzsakymoLangas";
}

<h1>Paslaugos užsakymo langas</h1>
<span>Pasirinkus datą ir darbuotoją:</span>
<input type="button" value="Toliau" onclick="@("window.location.href='" + @Url.Action("RezervacijosPatvirtinimas", "Klientas") + "'");" />

