@model GrozioSalonuISCF.Models.Atsiliepimas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Atsiliepimas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="aprasymas" class="control-label"></label>
                <input asp-for="aprasymas" class="form-control" />
                <span asp-validation-for="aprasymas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="paslaugos_busena" /> @Html.DisplayNameFor(model => model.paslaugos_busena)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vardas" class="control-label"></label>
                <input asp-for="vardas" class="form-control" />
                <span asp-validation-for="vardas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaslaugaId" class="control-label"></label>
                <input asp-for="PaslaugaId" class="form-control" />
                <span asp-validation-for="PaslaugaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

