@model GrozioSalonuISCF.Models.Rezervacija

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RezervacijaId" />
            <div class="form-group">
                @*  <label asp-for="proc_prad" class="control-label"></label>*@
                <input asp-for="proc_prad" class="form-control" type="hidden" />
                <span asp-validation-for="proc_prad" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*  <label asp-for="data" class="control-label"></label>*@
                <input asp-for="data" class="form-control" type="hidden" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="busena" class="control-label">Rezervacijos būsena</label>
                <select asp-for="busena" class="form-control">
                    <option value="Aktyvi">Aktyvi</option>
                    <option value="Atšaukta">Atšaukta</option>
                </select>
            </div>

            <div class="form-group">
              @*  <label asp-for="AtsiliepimasId" class="control-label"></label>*@
                <input asp-for="AtsiliepimasId" class="form-control" type="hidden" asp-items="ViewBag.AtsiliepimasId"/>
                <span asp-validation-for="AtsiliepimasId" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="UserId" class="control-label"></label>*@
                <input asp-for="UserId" class="form-control" type="hidden" asp-items="ViewBag.UserId"/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="PaslaugaId" class="control-label"></label>*@
                <input asp-for="PaslaugaId" class="form-control" type="hidden" asp-items="ViewBag.PaslaugaId"/>
                <span asp-validation-for="PaslaugaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Patvirtinti" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atgal</a>
</div>

